---

---
<div class="relative bg-purple-800 rounded-[3rem] h-87.5 md:h-112.5 flex items-end [clip-path:inset(-200%_-200%_0_-200%)]">

    <div class="relative flex w-full h-full">
        <img
                src="https://storage.googleapis.com/tudestinomx_bucket/assets/test/xolo-transparente-bg.png"
                alt="Xolo Tu Destino Mexico"
                class="absolute bottom-0 md:-bottom-3 left-0 w-full md:h-140 object-contain"
        />
    </div>

    <div class="absolute z-10 w-full flex justify-center bottom-4 md:-bottom-2">
        <h2 class="text-white text-[2.9rem] md:text-[11.5rem] font-black tracking-tighter leading-none select-none">
            TuDestinoMéxico
        </h2>
    </div>

</div>