---
interface Props {
    title: string,
    icon: string,
    url?: string,
}

const {title, icon, url} = Astro.props;
---
<a href={url} class="flex flex-col items-center gap-1 hover:text-purple-800">
    <span class="material-icons-outlined icons text-3xl">{icon}</span>
    {title}
</a>